* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upcomingMovies {
  width: 1340px;
  margin-top: 0;
  margin-left: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.upcomingMovies_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 930px;
}

.heading {
  font-size: 24px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 3rem;
}

.paragraph pre {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  margin-top: 9px;
}

.upcomingMovies_movies {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  margin: 4rem 0.2rem;
}

.upcomingMovies_image img {
  height: 600px;
  width: 400px;
  border-radius: 15px;
}

.upcomingMovies_text1 {
  width: 300px;
  height: 32px;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  font-size: large;
  font-weight: 500;
  text-align: start;
}

.upcomingMovies_badges {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.badge {
  color: white;
  text-align: center;
  padding: 4px 4px;
  font-size: smaller;
  border-radius: 3px;
}

.one {
  background-image: linear-gradient(#f2c46f, #c6943f);
}

.two {
  background-color: #ec1e2b;
}

.three {
  background-color: #000e62;
  text-transform: uppercase;
}
